.ctrl_auth_profiles_act_login #content .header ,
.ctrl_auth_profiles_act_login #content .content {
    width: 528px;
    padding: 0;
}
.ctrl_auth_profiles_act_login #content form  {
    padding: 12px;
    width: 700px;
}
.ctrl_auth_profiles_act_login .popup #content form  {
    width: auto;
}
.ctrl_auth_profiles_act_login #content form fieldset {
}
.ctrl_auth_profiles_act_login #content form fieldset legend {
    display: none;
}
.ctrl_auth_profiles_act_login #content form ul.fields label {
    text-align: left;
    font-size: 125%;
}
.ctrl_auth_profiles_act_login #content form ul.fields li.text input,
.ctrl_auth_profiles_act_login #content form ul.fields li.password input {
    width: 497px;
    font-size: 30px
}
.ctrl_auth_profiles_act_login #content ul.other {
    float: right;
    list-style: none;
    padding-right: 1em;
}
.ctrl_auth_profiles_act_login #content ul.other li {
    font-size: 100%;
    margin: 0.25em 0 0.25em 0;
}
.ctrl_auth_profiles_act_login #content ul.other li:before {
    content: "\00bb";
}
.ctrl_auth_profiles_act_login #content div.warning {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin: 0 0 8px 0;
    padding: 8px 8px 8px 100px;
    background: url("../img/actions-warning.gif") no-repeat scroll 28px 10px #F9F2C3;
    border: 1px solid #FCE440;
}

