/*
 * Tweaks for MSIE
 */
#content form ul li p.notes {
    margin: 0em 0 0 0;
    width: 360px;
}
.ctrl_auth_profiles_act_register #content form.register fieldset.login legend {
    color: #000;
    font-size: 145%;
    padding-bottom: 0.5em;
    margin-left: -0.5em;
}
.ctrl_repacks_act_edit #wizard .pane fieldset legend {
    margin-left: -0.5em;
}
.ctrl_auth_profiles_act_register #content form.register fieldset.account legend {
    color: #000;
    font-size: 100%;
    padding: 0 0.5em 0.75em 0;
    margin-left: -0.5em;
}
.ctrl_repacks_act_edit #wizard .summary {
    right: 21px;
}
.ctrl_auth_profiles_act_login .popup #content form {
    padding-top: 0px;
}
