/**
 * Styles for home page.
 */
.ctrl_index_act_index #content .page_intro {

}
.ctrl_index_act_index #content .page_intro .blurb {
    float: left;
    margin: 20px 0 0 20px;
    width: 425px;
}
.ctrl_index_act_index #content .page_intro .blurb h3 {
    color: #395273;
    font-size: 27px;
}
.ctrl_index_act_index #content .page_intro .blurb p {
    font-size: 1.4em;
    color: #888;
}
.ctrl_index_act_index #content .page_intro .blurb p em {
    color: #444;
    font-style: normal;
}
.ctrl_index_act_index #content .page_intro .blurb .create_browser {
    display: block;
    margin: 5px 0 0 0;
    padding: 1em 0.5em;
    float: left;
    width: 250px;
    text-align: center;
}
.ctrl_index_act_index #content .page_intro .blurb .create_browser .first_line {
    font-weight: normal;
    font-size: 1.25em;
}
.ctrl_index_act_index #content .page_intro .blurb .create_browser .first_line strong {
    font-weight: bold;
}
.ctrl_index_act_index #content .page_intro .blurb .create_browser .second_line {
    display: block;
    font-weight: normal;
    margin-top: 0.5em;
}
.ctrl_index_act_index #content .page_intro .blurb .faq {
    font-size: 1em;
    padding: 1.25em 1em 1em 290px;
}
.ctrl_index_act_index #content .page_intro .blurb .faq a {
    display: block;
}
.ctrl_index_act_index #content .page_intro .video {
    float: right;
    margin: 10px 10px 0 0;
    border: 6px solid #666;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.ctrl_index_act_index #content .benefits .your_benefits {
    float: left;
    margin: 40px 0 0 20px;
    width: 580px;
    border: 1px solid #eee;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
}
.ctrl_index_act_index #content .benefits .your_benefits h3 {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    line-height: 50px;
    font-size: 18px;
    margin: 0;
    padding: 0 15px 0 15px;
    border-bottom: 1px solid #eee;
    background: -moz-linear-gradient(-90deg, #ffffff, #e0eef2 100%) no-repeat;
    background: -webkit-gradient(linear,left top, left bottom, from(#ffffff), to(#e0eef2)) no-repeat;
    color: #555;
}
.ctrl_index_act_index #content .benefits .your_benefits ul {
    background: #fff;
    margin: 0; padding: 0;
}
.ctrl_index_act_index #content .benefits .your_benefits ul li {
    height: 90px;
    padding: 0 15px 0 95px;
    margin: 0 0 0 0;
    border-bottom: 1px solid #eee;
    color: #666;
    background: #fff url(../img/placeholder-thumb.png) no-repeat 20px 20px;
}
.ctrl_index_act_index #content .benefits .your_benefits ul li:last-child {
    border: none;
}
.ctrl_index_act_index #content .benefits .your_benefits ul li h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 0 0;
    padding: 1em 0 0 0;
    color: #444;
}
.ctrl_index_act_index #content .benefits .your_benefits ul li p {
    line-height: 1.5em;
}
.ctrl_index_act_index #content .benefits .who_benefits {
    float: right;
    margin: 40px 10px 0 0px;
    width: 285px;
    border: 1px solid #eee;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    background: #fff;
}
.ctrl_index_act_index #content .benefits .who_benefits h3 {
    color: #555;
    line-height: 30px;
    padding: 10px 10px 0 15px;
    margin: 0 0 0 0;
}
.ctrl_index_act_index #content .benefits .who_benefits ul {
    padding: 10px 15px 0 15px;
}
.ctrl_index_act_index #content .benefits .who_benefits ul li {
    color: #666;
    padding: 0 0 15px 0;
    margin: 0 0 0 0;
    font-size: 0.95em;
    position: relative;
}
.ctrl_index_act_index #content .benefits .who_benefits ul li img {
    float: right;
    margin: 0 0 0.5em 1em;
}
.ctrl_index_act_index #content .benefits .who_benefits ul li h4 {
    display: inline;
    font-weight: bold;
    color: #444;
}
.ctrl_index_act_index #content .benefits .who_benefits ul li p {
    display: inline;
}

.ctrl_index_act_index #content .showcase .whos_using {
    float: right;
    margin: 40px 10px 0 0px;
    width: 285px;
    border: 1px solid #eee;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    background: #fff;
}
.ctrl_index_act_index #content .showcase .whos_using h3 {
    color: #555;
    line-height: 30px;
    padding: 10px 10px 0 15px;
    margin: 0 0 0 0;
}
.ctrl_index_act_index #content .showcase .whos_using ul {
}
.ctrl_index_act_index #content .showcase .whos_using ul.whos_who {
    position: relative;
    height: 140px;
}
.ctrl_index_act_index #content .showcase .whos_using ul.whos_who li {
    color: #666;
    padding: 0 1em 0px 1em;
    margin: 0 0 0 0;
    font-size: 0.95em;
    position: absolute;
    display: none;
}
.ctrl_index_act_index #content .showcase .whos_using ul.whos_who li.selected {
    display: block;
}
.ctrl_index_act_index #content .showcase .whos_using ul.whos_who li p {
    margin: 1em 0 1em 0;
}
.ctrl_index_act_index #content .showcase .whos_using ul.whos_who li p a {
    font-weight: bold;
}
.ctrl_index_act_index #content .showcase .whos_using ul.whos_who li img {
    float: right;
    margin: 0 0 0.5em 1em;
}
.ctrl_index_act_index #content .showcase .whos_using div.pagination {
    margin: 1em 0 1em 0;
}
.ctrl_index_act_index #content .showcase .whos_using div.pagination ul {
    text-align: center;
}
.ctrl_index_act_index #content .showcase .whos_using div.pagination ul li {
    display: inline;
}
.ctrl_index_act_index #content .showcase .whos_using div.pagination ul li a {
    padding: 0 0.15em 0 0.15em;
}
.ctrl_index_act_index #content .showcase .whos_using div.pagination ul li a:hover {
    text-decoration: none;
}
.ctrl_index_act_index #content .showcase .whos_using div.pagination ul li a.prev,
.ctrl_index_act_index #content .showcase .whos_using div.pagination ul li a.next {
    padding: 0 0.5em 0 0.5em;
    font-size: 0.80em;
    color: #999;
}
.ctrl_index_act_index #content .showcase .whos_using div.pagination ul li a.page {
    font-size: 1.25em;
    color: #ccc;
}
.ctrl_index_act_index #content .showcase .whos_using div.pagination ul li a.selected {
    color: #999;
}

.ctrl_index_act_index #content .showcase .your_showcase {
}
.ctrl_index_act_index #content .showcase .your_showcase h3 {
}
.ctrl_index_act_index #content .showcase {
}
.ctrl_index_act_index #content .showcase .recent_browsers {
    float: left;
    margin: 40px 0 0 20px;
    padding: 0 0 0 0;
    width: 580px;
    border: 1px solid #eee;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
}
.ctrl_index_act_index #content .showcase .recent_browsers h3 {
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    line-height: 50px;
    font-size: 18px;
    margin: 0;
    padding: 0 15px 0 15px;
    border-bottom: 1px solid #eee;
    background: -moz-linear-gradient(-90deg, #ffffff, #e0eef2 100%) no-repeat;
    background: -webkit-gradient(linear,left top, left bottom, from(#ffffff), to(#e0eef2)) no-repeat;
    color: #555;
}
.ctrl_index_act_index #content .showcase .recent_browsers ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.ctrl_index_act_index #content .showcase .recent_browsers ul li {
    float: left;
    width: 289px;
    height: 60px;
    font-size: 0.85em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-right: 1px solid #eee;
    background: transparent url(../img/browser-globe.png) no-repeat 9px 10px;
}
.ctrl_index_act_index #content .showcase .recent_browsers ul li h4 {
    margin: 16px 10px 0px 50px;
    padding: 0 0 0 0;
    font-weight: bold;
    font-size: 1.05em;
}
.ctrl_index_act_index #content .showcase .recent_browsers ul li p.meta {
    margin: 0px 10px 10px 50px;
    padding: 0;
}

.ctrl_index_act_index #content .action_call_footer {
    background: #f0f6fb;
    margin: 40px 0 50px 20px;
    width: 580px;
    border: 1px solid #eee;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
    text-align: center;
}
.ctrl_index_act_index #content .action_call_footer h3 {
    padding: 1em 0 0.25em 0;
    color: #666;
    font-weight: normal;
}
.ctrl_index_act_index #content .action_call_footer .create_browser {
    display: block;
    margin: 5px auto 1em auto;
    padding: 1em 0.5em;
    width: 250px;
    text-align: center;
}
.ctrl_index_act_index #content .action_call_footer .create_browser .first_line {
    font-weight: normal;
    font-size: 1.25em;
}
.ctrl_index_act_index #content .action_call_footer .create_browser .first_line strong {
    font-weight: bold;
}
.ctrl_index_act_index #content .action_call_footer .create_browser .second_line {
    display: block;
    font-weight: normal;
    margin-top: 0.5em;
}

