/**
 * Styles for home page.
 */
.ctrl_index_act_index #content .page_intro {
    border: 5px solid #e7f5fa;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.ctrl_index_act_index #content .page_intro_content {
    background: transparent url(../img/home-page-intro-bg-strip.jpg) repeat top right;
    height: 345px;
    position:relative;        
}
.ctrl_index_act_index #content .page_intro_content h3 {
    padding: 20px 0 0 21px;
}
.ctrl_index_act_index #content .page_intro_content h3 span {
    display: block;
    background: transparent url(../img/customize-firefox.gif) no-repeat top left;
    height: 47px;
    width: 440px;
    text-indent:-460px;
    overflow: hidden;
}
.ctrl_index_act_index #content .page_intro_content img.screenshot {
    position: absolute;
    bottom: 0px; right: 0px;
}
.ctrl_index_act_index #content .page_intro_content h4.get_started {
    position: absolute;
    bottom: 25px;
    right: 455px;
}
.ctrl_index_act_index #content .page_intro_content p {
    margin:0 450px 0 0;
    padding:12px 12px 0 21px;
    font-size: 110%;
    line-height: 1.45em;
}
.ctrl_index_act_index #content .page_intro_content ul {
    padding: 6px 12px 12px 51px;
}
.ctrl_index_act_index #content .page_intro_content ul li {
    font-size: 110%;
    list-style: disc;
    line-height: 1.45em;
}
.ctrl_index_act_index #content .recent_browsers {
}
.ctrl_index_act_index #content .recent_browsers .header {
    padding: 10px 14px 0px 14px;
}
.ctrl_index_act_index #content .recent_browsers .header h3 {
    font-size: 150%;
    color: #41576a;
    height: 20px;
    margin-bottom: 0.5em;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers {
    list-style: none;
    margin: 0; padding: 0;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers .even {
    background-color: #e9f7f7;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers .odd {
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser {
    margin: 0 0 0 0; 
    padding: 10px 14px 10px 14px;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser h4 {
    margin: 0 0 0 0; 
    padding: 0 0 0 0;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser h4 a {
    text-decoration: none;
    font-size: 125%;
    font-weight: bold;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser .meta {
    margin: 0 0 0 0; 
    padding: 0 0 0.5em 0;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser .meta .byline {
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser .meta .byline a {
    text-decoration: none;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser .meta .modified {
    padding-left: 1em;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser .description {
    position: relative;
    padding: 0 0 0 0;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser h5.download {
    float: right;
    margin-top: -1em;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser div.empty h5.download {
    margin-top: -2.5em;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser .description p {
    margin: 0 110px 0 0; 
    font-size: 110%;
}
.ctrl_index_act_index #content .recent_browsers .footer {
}
.ctrl_index_act_index #content .recent_browsers .header .inner {
}

