html, *, body { 
    margin: 0; 
    padding: 0; 
    /*
    border: 0; 
    outline: 0; 
    font-weight: inherit; 
    font-style: inherit; 
    font-size: 100%; 
    font-family: inherit; 
     */
    vertical-align: baseline; 
}

html, body, #wrap {
    height: 100%;
    min-width: 960px;
    max-width: 1960px;
}
body > #wrap {
    height: auto; min-height: 100%;
}
#main {
    /* must be same height as the footer */
    padding-bottom: 62px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

a {
    color: #004463;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a img { 
    border: 0;
}
#content p {
    line-height: 1.5em;
}
#footer {
    position: relative;
    /* negative value of footer height */
    margin-top: -62px; 
    height: 62px;
    clear:both;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
} 

#footer {
    background: transparent url(../img/footer-mozhead.gif) no-repeat 21px 10px;
}
#footer .content {
    font-size: 100%;
    height: 62px;
}
#footer .content .copyright {
    padding: 14px 21px 0 68px;
}
#footer .content p {
    font-size: 0.70em;
}
#footer .content .nav {
    position: absolute;
    top: 18px;
    right: 28px;
    list-style: none;
}
#footer .content .nav li {
    display: inline;
    font-size: 0.70em;
}
#footer .content .nav li a {
    margin-left: 2em;
    text-decoration: none;
}

.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

body {
    font-family: helvetica, arial; 
    background: #fff url(../img/bg.jpg) repeat-x;
}

#simplemodal-overlay {background-color:#000;}
#simplemodal-container {
    background-color: #333; 
    border: none; 
    padding: 0px;
    width: 580px;
    height: 550px;
}

#header { 
    height: 56px;
    margin: 0 21px 18px 21px;
    padding: 0;
    position: relative; 
    background: transparent url(../img/header-bg.gif) no-repeat top right;
}
#header .crumbs { 
    height: 56px;
    background: transparent url(../img/header-bg-left.gif) no-repeat top left;
}
#header .title {
    position: absolute;
    left: 145px;
    bottom: 12px;
    font-size: 140%;
    font-weight: normal;
    width: 220px;
    height: 23px;
    overflow: hidden;
    background: transparent url(../img/build-your-own-title.gif) no-repeat top left;
}
#header .title a {
    color: #fff;
    padding-left: 220px;
    text-decoration: none;
}
#header .nav { 
    position: absolute; 
    bottom: 18px; 
    right: 210px; 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}
#header .nav li { 
    float: left; 
}
#header .nav li:before {
    color: #fff;
    font-size: 85%;
    content: "\2219"; 
}
#header .nav li a {
    color: white;
    text-decoration: none;
    font-size: 85%;
    margin: 0 1em 0 1em;
}
#header .nav li.first:before {
    content: ""; 
}
#header .search { 
    position: absolute; 
    bottom: 1em; 
    right: 1em; 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}
#header .search #q {
    width: 170px;
    padding: 2px 8px 2px 8px;
    border: 1px solid #ccc;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.template {
    display: none;
}
#content { 
    margin: 0 21px 0 21px;
}
#content .notification {
    padding: 0.5em;
    margin: 1em 0.25em 1.5em 0.25em;
    border: 1px solid #999;
    /*text-align: center;*/
    font-size: 0.75em;
}

#content p {
    margin: 0.75em 0 1em 0;
}
#content h1, #content h2, #content h3 {
    margin: 0em 0 0.5em 0;
}
#content h3 {
    /*margin: 1em 0 0.5em 0;*/
}
#content ul {
    padding: 0 0 0 2em;
}
#content ul li {
}
form input.hint {
    color: #999;
    font-style: italic;
}
#content form fieldset {
    padding: 0.25em 1em; 
    margin: 0.25em;
    border: none;
}
#content form fieldset fieldset {
    padding: 0.25em; 
    margin: 0.25em;
}
#content form fieldset legend {
    font-size: 145%;
    color: #000;
}
#content form fieldset.finish legend {
    display: none;
}
#content form fieldset .intro {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
    margin: 0 0 1em 0;
}
#content form ul.errors {
    color: red;
    font-size: 0.85em;
    padding: 0 0 1em 2em;
}
#content form ul.fields {
    list-style: none;
    padding: 0;
    margin:  0;
}
#content form ul.fields li {
    position: relative;
    margin-bottom: 0.25em;
}
#content form ul.fields li.divider {
    padding: 0 0 1em 0;
    margin: 0 0 1em 0;
    border-bottom: 1px solid #ccc;
}
#content form select.dropdown {
    margin: 0.5em 0.5em 0.5em 0em;
}
#content form .dropdown label {
    margin: 0.5em 0.5em 0.5em 0em;
}
#content form ul.fields li.radio .choices {
    font-size: 0.90em;
}
#content form ul.fields li.radio .choices span {
    padding-right: 1em;
}
#content form ul.fields li label {
    float: left;
    display: block;
    width: 22ex;
    padding-top: 0.125em;
    font-size: 0.85em;
    margin-right: 1.5ex;
    text-align: left;
}
#content form ul.fields li label {
    margin-left: 0em;
}
#content form ul.fields li label:after {
    content: "\00a0*";
    color: #5c92c4;
}
#content form ul.fields li.required label {
}
#content form ul.fields li.required label:after {
    content: "";
    margin-left: none;
}
#content form ul.fields li .required_note {
}
#content form ul.fields li .required_note span {
    color: #5c92c4;
    font-size: 125%;
}
#content form ul li p.notes {
    position: absolute;
    font-size: 70%;
    left: 560px;
    width: 340px;
    margin: -2.2em 0 0 0;
    font-size: 0 0 0 0;
}
#content form ul.fields li.error label {
    color: #ff0000;
}
#content form ul.fields li.error input {
    background-color: #ffeeee;
}

#content form ul.fields li.text input, 
#content form ul.fields li.password input,
#content form ul.fields li.textarea textarea
{
    background: #fff;
    width: 40ex;
    border: 1px solid #ccc;
    font-family: Georgia;
    font-size: 1em;
    padding: 2px 0.25em;
}
#content form ul.fields li.textarea textarea {
    background: #fff;
    width: 50ex;
    height: 15ex;
    font-size: 0.85em;
    padding: 2px 0.125em;
}

#content form ul.fields li.text input:focus, #content form ul.fields li.password input:focus {
    background: #daf0f7 url(../img/form-field-bg.jpg) repeat-x;
}


#content form fieldset.narrow-labels li label {
    width: 10ex;
}
#content .sidebar {
    float: right;
    margin: 14px 12px 0 0;
}
#content .white_box_sidebar {
    float: right;
    margin: 14px 12px 0 0;
    border: 4px solid #eff8fc;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #fff;
}
#content .white_box {
    margin: 14px 188px 0 2px;
    border: 4px solid #eff8fc;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #fff;
}
#content .white_box .header {
    padding: 10px 14px 5px 14px;
}

#content #wizard .nav {
    list-style: none;
    margin: 0 0 0 0;
    padding: 1em 0 2em 0.25em;
}
#content #wizard .nav li {
    float: left;
    margin: 0;
    padding: 0;
}
#content #wizard .nav li a {
    display: block;
    margin: 0 0.25em 0 0;
    padding: 0.25em;
    border: 1px solid #999;
}

#content #wizard .nav li.submit {
    display: block;
    margin: 0 0.25em 0 0;
    padding: 0.125em 1.5em;
}
#content #wizard .nav li.submit input {
    width: 18ex;
}

#content dl {
    padding: 0;
    margin: 0.25em 0 0.25em 0;
}
#content dl dt {
    float: left;
    width: 15ex;
    text-align: right;
    padding: 0.25em 0.5em 0.25em 0.25em;
    background-color: #ddd;
}
#content dl dd {
    padding: 0.25em;
    margin: 0.25em 0.25em 0.25em 17ex;
}

#content .sections {
    list-style-type: none;
}
#content .section dl {
}
#content .section dl dt {
    width: auto;
    background: none;
    float: none;
    text-align: left;
}
#content .section dl dd {
    margin: 0 0 0 2em;
    font-size: 0.85em;
}

#content .details {
    position: relative;
}
#content .details,
#content #downloads,
#content #history {
    margin-left: 21px;
    margin-right: 200px;
}
#content .details h2 {
    font-size: 150%;
    font-weight: normal;
    margin: 0 0 0.125em 0;
    padding: 0 0 0 0;
}
#content .details .main_actions {
    border: 1px solid #ccc;
    background: #fff;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    padding: 8px 8px 8px 8px;
    margin: 8px 0 8px 0;
}
#content .inprogress .main_actions {
    border: 1px solid #fce440;
    padding-left: 100px;
    background: #f9f2c3 url(../img/actions-warning.gif) no-repeat 28px 10px;
}
#content .details .main_actions h3 {
    margin: 0 0 0 0;
    padding: 0 4px 0 4px;
    font-weight: bold;
    font-size: 80%;
}
#content .details .main_actions .actions {
    list-style: none;
    margin: 0 0 0 0;
    padding: 4px 4px 4px 4px;
}
#content .details .actions li {
    float: left;
    margin: 0.25em 0.25em 0 0;
}
#content .details .actions li a {
    font-size: 85%;
    text-align: center;
    display: block;
    padding: 2px 6px;
    background: #fff;
    border: 1px solid #4e849c;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    white-space: nowrap;
    background: #4e849c;
    color: #fff;
}
#content .details .actions li a:hover {
    text-decoration: none;
    background: #fff;
    color: #4e849c;
}

#content .details .byline {
}
#content .details .byline a {
    font-weight: bold;
}
#content .details p {
    margin: 0.25em 0 0.25em 0;
    padding: 0.25em 0 0.25em 0;
    font-size: 0.90em;
}
#content .details .status {
    position: absolute;
    top: 10px;
    right: 10px;
}
#content .details .status h4 {
    font-size: 75%;
    text-align: center;
}
#content .details .status span {
    display: block;
    font-size: 80%;
    padding: 2px 10px 2px 10px;
    border: 1px solid #333;
    background-color: #ddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    white-space: nowrap;
    text-align: center;
}
#content .details .status span a {
    text-decoration: none;
}
#content .details .status-released span {
    border-color: #faea90;
    background-color: #faea90;
}
#content .details .status-released span a {
    color: #000;
}
#content .details .status-failed span,
#content .details .status-rejected span {
    border-color: #c85a5a;
    background-color: #c85a5a;
}
#content .details .status-rejected span a,
#content .details .status-failed span a {
    color: #fff;
}

.search-results table {
    width: 100%;
    margin: 0 0 1em 0;
}
.search-results table thead {
}
.search-results table thead tr th {
    font-size: 85%;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-bottom: 2px solid #000;
    padding: 0.5em 0.25em;
    text-align: center;
    font-size: 0.75em;
}
.search-results table tbody tr td {
    border: 1px solid #ccc;
    padding: 0.5em 0.25em;
    font-size: 0.85em;
}
.search-results table tbody tr td a {
    display: block;
    text-align: center;
}

.popup #content { 
    margin: 0 0 0 0;
}
.popup #content form fieldset {
    padding: 0;
    margin: 0;
}
.popup #content form ul.fields li {
    margin: 0 0 1em 0;
}
.popup #content form ul.fields li label {
    float: none;
    width: auto;
}
.popup #content .nav {
    width: 560px;
    height: 40px;
}
.popup #content #wizard .nav {
    padding: 0;
}
.popup #content .nav .prev {
    float: left;
    padding: 12px 0 0 10px;
}
.popup #content .nav .prev a {
    display: block;
    font-size: 85%;
    padding-left: 21px;
    padding-bottom: 0px;
    background: transparent url(../img/arrow-prev.gif) no-repeat 0px 0px;
}
.popup #content .nav .prev a:hover {
    text-decoration: none;
}
.popup #content .nav .next {
    float: right;
    padding: 12px 0 0 0px;
}
.popup #content .nav .next a {
    display: block;
    font-size: 85%;
    padding-right: 21px;
    padding-bottom: 0px;
    background: transparent url(../img/arrow-next.gif) no-repeat right 0px;
}
.popup #content .nav .next a:hover {
    text-decoration: none;
}
.popup #content .nav .build {
    float: right;
    padding: 0 0 0 0px;
}
.popup #content .header {
    height: 550px;
}
.popup #content .header {
    background: transparent url(../img/popup-title-bg.gif) repeat-x 0 0;
    height: 37px;
}
.popup #content .header h2 {
    color: #fff;
    font-size: 110%;
    font-weight: normal;
    line-height: 37px;
    padding: 0 0 0 15px;
    margin: 0 0 0 0;
}
.popup #content .part {
}
.popup #content .content {
    list-style: none;
    position: relative;
    padding: 15px 15px 0 15px;
    overflow: auto;
    width: 550px;
    height: 460px;
    margin: 0 0 0 0;
    background: #fff;
    color: #333;
}
.popup #content .content p {
    font-size: 85%;
    line-height: 1.75em;
    margin: 0 0 0.75em 0;
}
.popup #content .sections {
    list-style: none;
    border-top: 1px solid #ccc;    
    padding: 0 0 0 0;
}
.popup #content .sections li.section {
    padding: 0.5em 0 0.75em 0.5em;
    border-bottom: 1px solid #ccc;    
    font-size: 85%;
}
.popup #content .sections li.section h3 {
    margin: 0.25em 0 0.75em 0;
    font-size: 110%;
}
.popup #content .sections li.section h3 a {
    font-size: 75%;
    margin: 0 0 0 1em;
}
.popup #content .sections li.section h4 {
    font-size: 100%;
    font-weight: normal;
    margin: 0 0 0.5em 0;
}
.popup #content .sections li.section ul {
    margin: 0 0 0 2em;
    padding: 0 0 0 0;
    list-style: square;
}
.popup #content .sections li.section ul li {
    font-size: 85%;
    padding: 0 0 0.5em 0;
}
