html, *, body { 
    margin: 0; 
    padding: 0; 
    /*
    border: 0; 
    outline: 0; 
    font-weight: inherit; 
    font-style: inherit; 
    font-size: 100%; 
    font-family: inherit; 
     */
    vertical-align: baseline; 
}

html, body, #wrap {
    height: 100%;
}
body > #wrap {
    height: auto; min-height: 100%;
}
#main {
    /* must be same height as the footer */
    padding-bottom: 65px;
}

#footer {
    position: relative;
    /* negative value of footer height */
    margin-top: -65px; 
    height: 65px;
    clear:both;
} 

#footer {
}
#footer .content {
    padding: 1em;
    border-top: 1px solid #333;
}
#footer .content p {
    font-size: 0.75em;
}


.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

body {
    font-family: arial; 
}

#header { 
    padding: 1em; 
    border-bottom: 1px solid #333; 
    background-color: #ddd; 
    position: relative; 
}
#header .nav { 
    position: absolute; 
    top: 1em; 
    right: 1em; 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}
#header .nav li { 
    float: left; 
    padding-left: 1em; 
}

#content { 
    margin: 1em;
}
.template {
    display: none;
}
#content .notification {
    padding: 0.5em;
    margin: 1em 0.25em 1.5em 0.25em;
    border: 1px solid #999;
    /*text-align: center;*/
    font-size: 0.75em;
}

#content p {
    margin: 0.75em 0 1em 0;
}
#content h1, #content h2, #content h3 {
    margin: 0em 0 0.5em 0;
}
#content h3 {
    /*margin: 1em 0 0.5em 0;*/
}
#content ul {
    padding: 0 0 0 2em;
}
#content ul li {
    padding: 0 0 0.5em 0;
}
#content form fieldset {
    padding: 0.75em 1em; 
    margin: 0.25em;
    border: 1px solid #aaa;
}
#content form fieldset fieldset {
    padding: 0.25em; 
    margin: 0.25em;
}
#content form fieldset legend {
    font-size: 0.75em;
    color: #666;
}
#content form ul.errors {
    color: red;
    padding: 1em 0 1em 2em;
    font-size: 0.85em;
}
#content form ul.fields {
    list-style: none;
    padding: 0;
    margin:  0;
}
#content form ul.fields li {
    margin-bottom: 0.25em;
}
#content form ul.fields li label {
    float: left;
    display: block;
    width: 14ex;
    padding-top: 0.125em;
    font-size: 0.85em;
    margin-right: 1ex;
    text-align: right;
}
#content form ul.fields li.required label {
    font-weight: bold;
}
#content form ul.fields li.required label:before {
    content: "*\00a0";
}
#content form ul li p.notes {
    margin: 0 0 0 24ex;
    font-size: 0.75em;
}
#content form ul.fields li.error label {
    color: #ff0000;
}
#content form ul.fields li.error input {
    background-color: #ffeeee;
}
.ctrl_auth_act_register #content form ul.fields li label {
    width: 18ex;
}
#content form ul.fields li.text input, #content form ul.fields li.password input {
    width: 50ex;
    font-family: arial;
    font-size: 0.85em;
    padding: 0.125em;
}
#content form ul.fields li.textarea textarea {
    width: 50ex;
    height: 15ex;
    font-family: arial;
    font-size: 0.85em;
    padding: 0.125em;
}
#content form fieldset.narrow-labels li label {
    width: 10ex;
}

#content #wizard .accordion {

}
#content #wizard .accordion h3.ui-accordion-header {
}
#content #wizard .accordion div.ui-accordion-content {
    padding: 0 0.75em;
}

#content #wizard .nav {
    list-style: none;
    margin: 0 0 0 0;
    padding: 1em 0 2em 0.25em;
}
#content #wizard .nav li {
    float: left;
    margin: 0;
    padding: 0;
}
#content #wizard .nav li a {
    display: block;
    margin: 0 0.25em 0 0;
    padding: 0.25em;
    border: 1px solid #999;
}

#content #wizard .nav li.submit {
    display: block;
    margin: 0 0.25em 0 0;
    padding: 0.125em 1.5em;
}
#content #wizard .nav li.submit input {
    width: 18ex;
}

#content dl {
    padding: 0;
    margin: 0.25em 0 0.25em 0;
}
#content dl dt {
    float: left;
    width: 15ex;
    text-align: right;
    padding: 0.25em 0.5em 0.25em 0.25em;
    background-color: #ddd;
}
#content dl dd {
    padding: 0.25em;
    margin: 0.25em 0.25em 0.25em 17ex;
}

#content .sections {
    list-style-type: none;
}
#content .section dl {
}
#content .section dl dt {
    width: auto;
    background: none;
    float: none;
    text-align: left;
}
#content .section dl dd {
    margin: 0 0 0 2em;
    font-size: 0.85em;
}

#content ul.bookmarks {
    list-style: none;
    margin: 0;
    padding: 0 0 0 1em;
}
#content ul.bookmarks .bookmark {
    clear: both;
}
#content ul.bookmarks .bookmark table {
    float: left;
    width: 96%;
    margin: 0 0 0 0;
}
#content ul.bookmarks .bookmark table tr {
}
#content ul.bookmarks .bookmark table tr th {
    text-align: left;
    padding-top: 0;
}
#content ul.bookmarks .bookmark table tr th span {
    display: block;
    padding: 0.125em 0.5em;
    margin: 0 0.25em 0 0;
    border-bottom: 1px solid #aaa;
    font-size: 0.75em;
    background-color: #ddd;
}
#content ul.bookmarks .bookmark table tr td {
}
#content ul.bookmarks .bookmark table tr td span {
    display: block;
    margin: 0 0.25em 0 0;
}
#content ul.bookmarks .bookmark table tr td span input {
    width: 100%;
}

#content ul.bookmarks .bookmark span.type {
    padding: 0;
    margin: 0;
    display: block;
    float: left;
    width: 16px;
    text-indent: 16px;
    height: 16px;
    overflow: hidden;
    background: transparent url(../img/pageStarred.png) no-repeat top left;
}
#content ul.bookmarks .bookmark span.normal {
    background-image: url(../img/pageStarred.png);
}
#content ul.bookmarks .bookmark span.live {
    background-image: url(../img/livemark-item.png);
}
#content ul.bookmarks .bookmark a.delete {
    float: left;
    display: block;
    width: 16px;
    text-indent: 16px;
    height: 16px;
    overflow: hidden;
    background: transparent url(../img/Info.png) no-repeat top left;
}
#content ul.bookmarks .bookmark table th span.error {
    color: #ff0000;
    background-color: #edd;
}
#content ul.bookmarks table td span.error {
}
#content ul.bookmarks table td span.error input {
    background-color: #ffeeee;
}
#content .bookmark-add {
    margin: 0.75em 0;
}
#content .bookmark-add a.add {
    padding-left: 18px;
    background: transparent url(../img/../img/pageStarred.png) no-repeat top left;
}
#content .bookmark-add-normal a.add {
    background-image: url(../img/pageStarred.png);
}
#content .bookmark-add-live a.add {
    background-image: url(../img/livemark-item.png);
}
#content ul.repack-addons {
}
#content ul.repack-addons li.addon {
}
#content ul.repack-addons li.addon p {
    font-size: 0.75em;
    margin: 0.5em 0 1em 1em;
    width: 55em;
}
.ctrl_repacks_act_view table.changes {
    margin: 0.5em;
}
.ctrl_repacks_act_view table.changes thead tr {
}
.ctrl_repacks_act_view table.changes thead tr th {
    border-bottom: 2px solid #000;
    background-color: #ddd;
    font-size: 0.75em;
    padding: 0.125em 0.5em;
}
.ctrl_repacks_act_view table.changes tbody tr {
}
.ctrl_repacks_act_view table.changes tbody tr td {
    font-size: 0.75em;
    padding: 0.125em 0.5em;
}
.ctrl_repacks_act_view table.downloads {
    margin: 0.5em;
}
.ctrl_repacks_act_view table.downloads thead tr {
}
.ctrl_repacks_act_view table.downloads thead tr th {
    border-bottom: 2px solid #000;
    background-color: #ddd;
    font-size: 0.75em;
    padding: 0.125em 0.5em;
}
.ctrl_repacks_act_view table.downloads thead tr th.empty {
    border: none;
    background: transparent;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}
.ctrl_repacks_act_view table.downloads tbody tr {
}
.ctrl_repacks_act_view table.downloads tbody tr td.os {
    border-right: 2px solid #000;
    background-color: #ddd;
    text-align: right;
}
.ctrl_repacks_act_view table.downloads tbody tr td {
}
.ctrl_repacks_act_view table.downloads tbody tr td a {
    display: block;
    font-size: 1.125em;
    padding: 0.25em 0.25em;
}