html, *, body { 
    margin: 0; 
    padding: 0; 
    /*
    border: 0; 
    outline: 0; 
    font-weight: inherit; 
    font-style: inherit; 
    font-size: 100%; 
    font-family: inherit; 
     */
    vertical-align: baseline; 
}

html, body, #wrap {
    height: 100%;
    min-width: 960px;
    max-width: 1960px;
}
body > #wrap {
    height: auto; min-height: 100%;
}
#main {
    /* must be same height as the footer */
    padding-bottom: 62px;
}

a {
    color: #004463;
}

#footer {
    position: relative;
    /* negative value of footer height */
    margin-top: -62px; 
    height: 62px;
    clear:both;
} 

#footer {
    background: transparent url(../img/footer-mozhead.gif) no-repeat 21px 10px;
}
#footer .content {
    font-size: 100%;
    height: 62px;
}
#footer .content .copyright {
    padding: 14px 21px 0 68px;
}
#footer .content p {
    font-size: 0.70em;
}
#footer .content .nav {
    position: absolute;
    top: 18px;
    right: 28px;
    list-style: none;
}
#footer .content .nav li {
    display: inline;
    font-size: 0.70em;
}
#footer .content .nav li a {
    margin-left: 2em;
    text-decoration: none;
}

.clearfix:after {content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

body {
    font-family: arial; 
    background: transparent url(../img/bg.jpg) repeat-x;
}

#header { 
    height: 56px;
    margin: 0 21px 18px 21px;
    padding: 0;
    position: relative; 
    background: transparent url(../img/header-bg.gif) no-repeat top right;
}
#header .crumbs { 
    height: 56px;
    background: transparent url(../img/header-bg-left.gif) no-repeat top left;
}
#header .title {
    position: absolute;
    left: 145px;
    bottom: 12px;
    font-size: 140%;
    font-weight: normal;
    width: 220px;
    height: 23px;
    overflow: hidden;
    background: transparent url(../img/build-your-own-title.gif) no-repeat top left;
}
#header .title a {
    color: #fff;
    padding-left: 220px;
    text-decoration: none;
}
#header .nav { 
    position: absolute; 
    bottom: 18px; 
    right: 210px; 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}
#header .nav li { 
    float: left; 
}
#header .nav li:before {
    color: #fff;
    content: "\2219"; 
}
#header .nav li a {
    color: white;
    text-decoration: none;
    font-size: 85%;
    margin: 0 1em 0 1em;
}
#header .nav li.first:before {
    content: ""; 
}
#header .search { 
    position: absolute; 
    bottom: 1em; 
    right: 1em; 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}
#header .search #q {
    width: 170px;
}

.template {
    display: none;
}
#content { 
    margin: 0 21px 0 21px;
}
#content .notification {
    padding: 0.5em;
    margin: 1em 0.25em 1.5em 0.25em;
    border: 1px solid #999;
    /*text-align: center;*/
    font-size: 0.75em;
}

#content p {
    margin: 0.75em 0 1em 0;
}
#content h1, #content h2, #content h3 {
    margin: 0em 0 0.5em 0;
}
#content h3 {
    /*margin: 1em 0 0.5em 0;*/
}
#content ul {
    padding: 0 0 0 2em;
}
#content ul li {
}
#content form fieldset {
    padding: 0.75em 1em; 
    margin: 0.25em;
    border: 1px solid #aaa;
}
#content form fieldset fieldset {
    padding: 0.25em; 
    margin: 0.25em;
}
#content form fieldset legend {
    font-size: 0.75em;
    color: #666;
}
#content form fieldset .intro {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
    margin: 0 0 1em 0;
}
#content form ul.errors {
    color: red;
    font-size: 0.85em;
    padding: 0 0 1em 2em;
}
#content form ul.fields {
    list-style: none;
    padding: 0;
    margin:  0;
}
#content form ul.fields li {
    margin-bottom: 0.25em;
}
#content form ul.fields li.radio .choices {
    font-size: 0.90em;
}
#content form ul.fields li.radio .choices span {
    padding-right: 1em;
}
#content form ul.fields li label {
    float: left;
    display: block;
    width: 14ex;
    padding-top: 0.125em;
    font-size: 0.85em;
    margin-right: 1.5ex;
    text-align: right;
}
#content form ul.fields li.required label {
}
#content form ul.fields li.required label:before {
    content: "*\00a0";
    color: #f33;
}
#content form ul.fields li .required_note {
}
#content form ul.fields li .required_note span {
    color: #f33;
}
#content form ul li p.notes {
    margin: 0 0 0 20ex;
    font-size: 0.75em;
}
#content form ul.fields li.error label {
    color: #ff0000;
}
#content form ul.fields li.error input {
    background-color: #ffeeee;
}
.ctrl_auth_profiles_act_editprofile #content form ul.fields li label,
.ctrl_auth_profiles_act_register #content form ul.fields li label {
    width: 24ex;
}
.ctrl_auth_profiles_act_editprofile #content form ul.fields li .notes,
.ctrl_auth_profiles_act_register #content form ul.fields li .notes {
    margin: 0.5em 0 1em 30ex;
    width: 40%;
}
.ctrl_auth_profiles_act_register #content form ul.fields li .recaptchatable #recaptcha_response_field {
    position: inherit !important;
    bottom: 0px !important;
}
#content form ul.fields li.text input, #content form ul.fields li.password input {
    width: 50ex;
    font-family: arial;
    font-size: 0.85em;
    padding: 0.125em;
}
#content form ul.fields li.textarea textarea {
    width: 50ex;
    height: 15ex;
    font-family: arial;
    font-size: 0.85em;
    padding: 0.125em;
}
#content form fieldset.narrow-labels li label {
    width: 10ex;
}
.ctrl_index_act_index #content .page_intro {
    border: 5px solid #e7f5fa;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.ctrl_index_act_index #content .page_intro_content {
    background: transparent url(../img/home-page-intro-bg-strip.jpg) repeat top right;
    height: 320px;
    position:relative;        
}
.ctrl_index_act_index #content .page_intro_content h3 {
    padding: 20px 0 0 21px;
}
.ctrl_index_act_index #content .page_intro_content h3 span {
    display: block;
    background: transparent url(../img/customize-firefox.gif) no-repeat top left;
    height: 47px;
    width: 440px;
    text-indent:-460px;
    overflow: hidden;
}
.ctrl_index_act_index #content .page_intro_content img.screenshot {
    position: absolute;
    bottom: 0px; right: 0px;
}
.ctrl_index_act_index #content .page_intro_content h4.get_started {
    position: absolute;
    bottom: 32px;
    right: 455px;
}
.ctrl_index_act_index #content .page_intro_content h4.get_started a {
    display: block;
    background: transparent url(../img/get-started-button.gif) no-repeat top left;
    height: 42px;
    width: 155px;
    text-indent:-155px;
    overflow: hidden;
}
.ctrl_index_act_index #content .page_intro_content p {
    padding: 12px 12px 0px 21px;
    margin: 0 450px 0 0;
}

.ctrl_index_act_index #content .sidebar {
    float: right;
    margin: 14px 12px 0 0;
}
.ctrl_index_act_index #content .sidebar img {
    border: none;
}
.ctrl_index_act_index #content .recent_browsers {
    margin: 14px 188px 0 2px;
    border: 4px solid #eff8fc;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #fff;
}
.ctrl_index_act_index #content .recent_browsers .header {
    padding: 10px 14px 5px 14px;
}
.ctrl_index_act_index #content .recent_browsers .header h3 {
    background: transparent url(../img/recently-created-browsers.gif) no-repeat top left;
    height: 20px;
    width: 231px;
    text-indent:231px;
    overflow: hidden;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers {
    list-style: none;
    margin: 0; padding: 0 14px 0 14px;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser {
    margin: 0 0 0 0; 
    padding: 0 0 21px 0;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser h4 {
    margin: 0 0 0 0; 
    padding: 0 0 0 0;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser h4 a {
    text-decoration: none;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser .meta {
    margin: 0 0 0 0; 
    padding: 0 0 0.5em 0;
    font-size: 80%;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser .meta .byline {
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser .meta .byline a {
    text-decoration: none;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser .meta .modified {
    padding-left: 1em;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser .description {
    position: relative;
    padding: 0 0 0 0;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser h5.download {
    float: right;
    margin-top: -1em;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser h5.download a {
    text-decoration: none;
    display: block;
    background: transparent url(../img/download-button.gif) no-repeat top left;
    height: 26px;
    width: 92px;
    text-indent:-92px;
    overflow: hidden;
}
.ctrl_index_act_index #content .recent_browsers ul.browsers li.browser .description p {
    margin: 0 110px 0 0; 
    font-size: 90%;
}
.ctrl_index_act_index #content .recent_browsers .footer {
}
.ctrl_index_act_index #content .recent_browsers .header .inner {
}

.ctrl_repacks_act_edit form {
}
.ctrl_repacks_act_edit #content .tabs {
    width: 72%;
    margin: 0 0 0 0;
    padding: 0;
    list-style: none;
    text-indent: 0;
}
.ctrl_repacks_act_edit #content .tabs li {
    float: left;
    font-size: 0.85em;
    display: block;
    margin-right: 0.75em;
    padding: 0;
    background: #ddd;
    border-top: 2px solid #ddd;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
}
.ctrl_repacks_act_edit #content .tabs li.selected {
    background: #fff;
}
.ctrl_repacks_act_edit #content .tabs li.error a:after {
    content: "!";
    font-weight: bold;
    color: #f33;
    padding-left: 0.5em;
    text-decoration: none;
}
.ctrl_repacks_act_edit #content .tabs li.changed a:after {
    content: "\2713";
    color: #383;
    padding-left: 0.5em;
    text-decoration: none;
}
.ctrl_repacks_act_edit #content ul.changed {
    font-size: 0.85em;
    padding: 0 0 1em 2em;
}
.ctrl_repacks_act_edit .tabs li a {
    padding: 0.25em 0.5em 0.5em 0.5em;
    display: block;
    text-decoration: none;
}
.ctrl_repacks_act_edit .section_pane {
    margin: -2px 0 0 0;
    padding: 0.5em 1em 2em 1em ;
    border: 2px solid #ddd;
    width: 72%;
}
.ctrl_repacks_act_edit .prev_section {
    float: left;
}
.ctrl_repacks_act_edit .next_section {
    float: right;
}
.ctrl_repacks_act_edit .save_buttons {
    display: none;
}
.ctrl_repacks_act_edit .section_nav {
    padding: 0.5em 0 0 0;
    margin: 1.5em 0 0 0;
    border-top: 2px solid #ddd;
}
.ctrl_repacks_act_edit .summary {
    float: right;
    width: 22%;
}

#content #wizard .nav {
    list-style: none;
    margin: 0 0 0 0;
    padding: 1em 0 2em 0.25em;
}
#content #wizard .nav li {
    float: left;
    margin: 0;
    padding: 0;
}
#content #wizard .nav li a {
    display: block;
    margin: 0 0.25em 0 0;
    padding: 0.25em;
    border: 1px solid #999;
}

#content #wizard .nav li.submit {
    display: block;
    margin: 0 0.25em 0 0;
    padding: 0.125em 1.5em;
}
#content #wizard .nav li.submit input {
    width: 18ex;
}

#content dl {
    padding: 0;
    margin: 0.25em 0 0.25em 0;
}
#content dl dt {
    float: left;
    width: 15ex;
    text-align: right;
    padding: 0.25em 0.5em 0.25em 0.25em;
    background-color: #ddd;
}
#content dl dd {
    padding: 0.25em;
    margin: 0.25em 0.25em 0.25em 17ex;
}

#content .sections {
    list-style-type: none;
}
#content .section dl {
}
#content .section dl dt {
    width: auto;
    background: none;
    float: none;
    text-align: left;
}
#content .section dl dd {
    margin: 0 0 0 2em;
    font-size: 0.85em;
}

#content ul.bookmarks {
    list-style: none;
    margin: 0;
    padding: 0 0 0 1em;
}
#content ul.bookmarks .bookmark {
    display: inline-block;
    width: 90%;
}
#content ul.bookmarks .bookmark table {
    float: left;
    width: 92%;
    margin: 0 0 0 0;
}
#content ul.bookmarks .bookmark table tr {
}
#content ul.bookmarks .bookmark table tr th {
    text-align: left;
    padding-top: 0;
}
#content ul.bookmarks .bookmark table tr th span {
    display: block;
    padding: 0.125em 0.5em;
    margin: 0 0.25em 0 0;
    border-bottom: 1px solid #aaa;
    font-size: 0.75em;
    background-color: #ddd;
}
#content ul.bookmarks .bookmark table tr td {
}
#content ul.bookmarks .bookmark table tr td span {
    display: block;
    margin: 0 0.25em 0 0;
}
#content ul.bookmarks .bookmark table tr td span input {
    width: 100%;
}

#content ul.bookmarks .bookmark span.type {
    padding: 0;
    margin: 0;
    display: block;
    float: left;
    width: 16px;
    text-indent: 16px;
    height: 16px;
    overflow: hidden;
    background: transparent url(../img/pageStarred.png) no-repeat top left;
}
#content ul.bookmarks .bookmark span.normal {
    background-image: url(../img/pageStarred.png);
}
#content ul.bookmarks .bookmark span.live {
    background-image: url(../img/livemark-item.png);
}
#content ul.bookmarks .bookmark a.delete {
    float: left;
    display: block;
    width: 16px;
    text-indent: 16px;
    height: 16px;
    overflow: hidden;
    background: transparent url(../img/Info.png) no-repeat top left;
}
#content ul.bookmarks .bookmark table th span.error {
    color: #ff0000;
    background-color: #edd;
}
#content ul.bookmarks table td span.error {
}
#content ul.bookmarks table td span.error input {
    background-color: #ffeeee;
}
#content .bookmark-add {
    margin: 0.75em 0;
}
#content .bookmark-add a.add {
    padding-left: 18px;
    background: transparent url(../img/../img/pageStarred.png) no-repeat top left;
}
#content .bookmark-add-normal a.add {
    background-image: url(../img/pageStarred.png);
}
#content .bookmark-add-live a.add {
    background-image: url(../img/livemark-item.png);
}
#content ul.repack-addons {
}
#content ul.repack-addons li.addon {
}
#content ul.repack-addons li.addon p {
    font-size: 0.75em;
    margin: 0.5em 0 1em 1em;
}
.ctrl_repacks_act_view table.changes {
    margin: 0.5em;
}
.ctrl_repacks_act_view table.changes thead tr {
}
.ctrl_repacks_act_view table.changes thead tr th {
    border-bottom: 2px solid #000;
    background-color: #ddd;
    font-size: 0.75em;
    padding: 0.125em 0.5em;
}
.ctrl_repacks_act_view table.changes tbody tr {
}
.ctrl_repacks_act_view table.changes tbody tr td {
    font-size: 0.75em;
    padding: 0.125em 0.5em;
}
.ctrl_repacks_act_view table.downloads {
    margin: 0.5em;
}
.ctrl_repacks_act_view table.downloads thead tr {
}
.ctrl_repacks_act_view table.downloads thead tr th {
    border-bottom: 2px solid #000;
    background-color: #ddd;
    font-size: 0.75em;
    padding: 0.25em 0.5em;
}
.ctrl_repacks_act_view table.downloads thead tr th.empty {
    border: none;
    background: transparent;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}
.ctrl_repacks_act_view table.downloads tbody tr {
}
.ctrl_repacks_act_view table.downloads tbody tr td.os {
    border-right: 2px solid #000;
    background-color: #ddd;
    text-align: right;
    font-size: 0.75em;
    font-weight: bold;
    padding: 0.25em 0.75em;
}
.ctrl_repacks_act_view table.downloads tbody tr td {
}
.ctrl_repacks_act_view table.downloads tbody tr td a {
    display: block;
    padding: 0.25em 0.25em;
}

.search-results table {
    width: 100%;
    margin: 0 0 1em 0;
}
.search-results table thead {
}
.search-results table thead tr th {
    font-size: 85%;
    background-color: #ddd;
    border: 1px solid #ccc;
    border-bottom: 2px solid #000;
    padding: 0.5em 0.25em;
    text-align: center;
    font-size: 0.75em;
}
.search-results table tbody tr td {
    border: 1px solid #ccc;
    padding: 0.5em 0.25em;
    font-size: 0.85em;
}
.search-results table tbody tr td a {
    display: block;
    text-align: center;
}


