/**
 * Styles for repack editor page.
 */
.ctrl_repacks_act_edit #wizard {
    position: relative;
}
.ctrl_repacks_act_edit #wizard div.section {
    margin-right: 245px;
    background: #fff;
    padding: 12px;
    border: 1px solid #ccc;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
.ctrl_repacks_act_edit #wizard .summary {
    position: absolute;
    margin: 4px 0 4px 0;
    padding: 10px 0 10px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    right: 0px;
    width: 220px;
}
.ctrl_repacks_act_edit #wizard .summary h4 {
    font-size: 85%;
    font-weight: normal;
    color: #444;
}
.ctrl_repacks_act_edit #wizard .summary p.submit {
    margin: 0.75em 0 0 0;
    padding: 0 0 0 0;
}
.ctrl_repacks_act_edit #wizard .summary .changed_sections {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.ctrl_repacks_act_edit #wizard .summary .changed_sections .changed_section {
    font-weight: bold;
    margin: 0.75em 0 0 0;
}
.ctrl_repacks_act_edit #wizard .summary .changed_sections .changed_section h5 {
    font-size: 80%;
    color: #444;
    font-weight: bold;
}
.ctrl_repacks_act_edit #wizard .tabs {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-indent: 0;
    list-style: none;
}
.ctrl_repacks_act_edit #wizard .tabs li {
    text-transform: uppercase;
    white-space: nowrap;
    float: left;
    font-size: 0.69em;
    display: block;
    margin: 0 0 0 0;
    padding: 0.5em 0.75em 0em 0.75em;
    border-right: 1px solid #ddd;
    background: #fff url(../img/tab-bg.gif) repeat-x 0px 1px;
}
.ctrl_repacks_act_edit #wizard .tabs li.first {
    border-left: 1px solid #ddd;
}
.ctrl_repacks_act_edit #wizard .tabs li a {
    color: #999;
}
.ctrl_repacks_act_edit #wizard .tabs li.selected {
    border: none;
    margin-left: -6px;
    background: #edf5f9;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-radius-topleft: 8px;
    border-radius-topright: 8px;
    font-weight: bold;
}
.ctrl_repacks_act_edit #wizard .tabs li.first.selected {
    margin-left: 0px;
    border-left: none;
}
.ctrl_repacks_act_edit #wizard .tabs li.selected a {
    color: black
}
.ctrl_repacks_act_edit #wizard .tabs li.error a:after {
    content: "!";
    font-weight: bold;
    color: #f33;
    padding-left: 0.5em;
    text-decoration: none;
}
.ctrl_repacks_act_edit #wizard .tabs li.changed a:after {
    content: "\2714";
    color: #383;
    padding-left: 0.5em;
    text-decoration: none;
}
.ctrl_repacks_act_edit #wizard .tabs li a {
    padding: 0.25em 0.5em 0.5em 0.5em;
    display: block;
    text-decoration: none;
}
.ctrl_repacks_act_edit #wizard .section_content {
}
.ctrl_repacks_act_edit #wizard .section_content .pane {
    background: #f3f8fa;
    padding: 1em;
    font-size: 0.85em;
    min-height: 275px;
}
.ctrl_repacks_act_edit #wizard .section_content .intro {
    font-size: 0.85em;
    margin: 0 0 0 0;
    padding: 1em 1.25em 0.25em 1.25em;
    background: #edf5f9;
    color: #333;
    background: #edf5f9;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-radius-topright: 8px;
}
.ctrl_repacks_act_edit #wizard .section_content .intro p {
    padding: 0 0 1em 0;
    margin: 0 0 0 0;
}
.ctrl_repacks_act_edit #wizard .pane {
}
.ctrl_repacks_act_edit #wizard .pane fieldset {
    padding: 0 0 0 0;
    margin: 0em 0.5em 1em 0.5em;
}
.ctrl_repacks_act_edit #wizard .pane fieldset legend {
    font-weight: bold;
    font-size: 125%;
    color: #000;
    margin: 0em 0em 0em 0em;
}
.ctrl_repacks_act_edit #wizard .pane fieldset div textarea {
    font-family: georgia;
    font-size: 100%;
    height: 6em;
    padding: 0.5em;
    width: 90%;
    border: 1px solid #ccc;
}
.ctrl_repacks_act_edit #wizard .pane fieldset div input {
    font-family: georgia;
    font-size: 100%;
    width: 90%;
    border: 1px solid #ccc;
    padding: 0.5em;
}
.ctrl_repacks_act_edit #wizard .pane fieldset div input:focus, .ctrl_repacks_act_edit #wizard .pane fieldset div textarea:focus {
    background: #daf0f7 url(../img/form-field-bg.jpg) repeat-x;
}
.ctrl_repacks_act_edit #wizard .pane fieldset p {
    padding: 0 0 0 0;
    margin: 1em 0 0 0;
}
.ctrl_repacks_act_edit #wizard .pane fieldset ul {
    list-style: none;
    padding: 0 0 0 0;
    margin: 1em 0 0 0;
}
.ctrl_repacks_act_edit #wizard .pane fieldset ul li {
    margin: 0 0 0.5em 0;
}
.ctrl_repacks_act_edit #wizard .pane fieldset ul.repack-locale {
    width: 75ex;
}
.ctrl_repacks_act_edit #wizard .pane fieldset ul.repack-locale li {
    float: left;
    width: 36ex;
}
.ctrl_repacks_act_edit #wizard .pane fieldset ul.choices {
}
.ctrl_repacks_act_edit #wizard .pane fieldset ul.choices li {
    float: left;
    margin-right: 1em;
}
.ctrl_repacks_act_edit #wizard .pane fieldset ul.choices li input {
    width: auto;
}
.ctrl_repacks_act_edit .section_nav {
    padding: 0.5em 1.25em;
    margin: 0 0 0 0;
    background: #edf5f9;
    -moz-border-radius-bottomleft: 8px;
    -webkit-border-radius-bottomleft: 8px;
    border-radius-bottomleft: 8px;
    -moz-border-radius-bottomright: 8px;
    -webkit-border-radius-bottomright: 8px;
    border-radius-bottomright: 8px;
    font-size: 0.85em;
}
.ctrl_repacks_act_edit .section_nav .prev_section {
    float: left;
}
.ctrl_repacks_act_edit .section_nav .prev_section a {
    display: block;
    padding-left: 21px;
    padding-bottom: 4px;
    background: transparent url(../img/arrow-prev.gif) no-repeat 0px 1px;
}
.ctrl_repacks_act_edit .section_nav .prev_section a:hover {
    text-decoration: none;
}
.ctrl_repacks_act_edit .section_nav .next_section {
    float: right;
}
.ctrl_repacks_act_edit .section_nav .next_section a {
    display: block;
    padding-right: 21px;
    padding-bottom: 4px;
    background: transparent url(../img/arrow-next.gif) no-repeat right 2px;
}
.ctrl_repacks_act_edit .section_nav .next_section a:hover {
    text-decoration: none;
}
.ctrl_repacks_act_edit .save_buttons {
    display: none;
}

.ctrl_repacks_act_edit #wizard .pane fieldset ul.repack-addons {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 2em;
}
#content ul.repack-addons li.addon {
    margin: 0 0 0 0;
    padding: 1em 0 0 0;
}
#content ul.repack-addons li.addon input {
    padding: 0.5em;
}
#content ul.repack-addons li.addon .title {
    font-size: 120%;
    font-weight: bold;
    padding: 0 0 0 1em;
}
#content ul.repack-addons li.addon .title img {
    padding: 0 0.5em 0 0;
}
#content ul.repack-addons li.addon p {
    margin: 0.5em 0 1em 1em;
}

.ctrl_repacks_act_edit #content ul.bookmarks {
    list-style: none;
    margin: 0;
    padding: 0 0 0 1em;
}
.ctrl_repacks_act_edit #content ul.bookmarks .bookmark {
    display: inline-block;
    width: 90%;
}
.ctrl_repacks_act_edit #content ul.bookmarks .bookmark table {
    float: left;
    width: 92%;
    margin: 0 0 0 0;
}
.ctrl_repacks_act_edit #content ul.bookmarks .bookmark table tr {
}
.ctrl_repacks_act_edit #content ul.bookmarks .bookmark table tr th {
    text-align: left;
    padding-top: 0;
}
.ctrl_repacks_act_edit #content ul.bookmarks .bookmark table tr th span {
    display: block;
    padding: 0.125em 0.5em;
    margin: 0 0.25em 0 0;
    border-bottom: 1px solid #aaa;
    font-size: 0.75em;
    background-color: #ddd;
}
.ctrl_repacks_act_edit #content ul.bookmarks .bookmark table tr td {
}
.ctrl_repacks_act_edit #content ul.bookmarks .bookmark table tr td span {
    display: block;
    margin: 0 0.25em 0 0;
}
.ctrl_repacks_act_edit #content ul.bookmarks .bookmark table tr td span input {
    width: 100%;
}

.ctrl_repacks_act_edit #content ul.bookmarks .bookmark span.type {
    padding: 0;
    margin: 0;
    display: block;
    float: left;
    width: 16px;
    text-indent: 16px;
    height: 16px;
    overflow: hidden;
    background: transparent url(../img/pageStarred.png) no-repeat top left;
}
.ctrl_repacks_act_edit #content ul.bookmarks .bookmark span.normal {
    background-image: url(../img/pageStarred.png);
}
.ctrl_repacks_act_edit #content ul.bookmarks .bookmark span.live {
    background-image: url(../img/livemark-item.png);
}
.ctrl_repacks_act_edit #content ul.bookmarks .bookmark a.delete {
    float: left;
    display: block;
    width: 16px;
    text-indent: 16px;
    height: 16px;
    overflow: hidden;
    background: transparent url(../img/Info.png) no-repeat top left;
}
.ctrl_repacks_act_edit #content ul.bookmarks .bookmark table th span.error {
    color: #ff0000;
    background-color: #edd;
}
.ctrl_repacks_act_edit #content ul.bookmarks table td span.error {
}
.ctrl_repacks_act_edit #content ul.bookmarks table td span.error input {
    background-color: #ffeeee;
}
.ctrl_repacks_act_edit #content .bookmark-add {
    margin: 0.75em 0;
}
.ctrl_repacks_act_edit #content .bookmark-add a.add {
    padding-left: 18px;
    background: transparent url(../img/../img/pageStarred.png) no-repeat top left;
}
.ctrl_repacks_act_edit #content .bookmark-add-normal a.add {
    background-image: url(../img/pageStarred.png);
}
.ctrl_repacks_act_edit #content .bookmark-add-live a.add {
    background-image: url(../img/livemark-item.png);
}

.ctrl_repacks_act_edit .popup #content .sections li.locales {
    float: left;
    border-bottom: none;    
}
.ctrl_repacks_act_edit .popup #content .sections li.platforms {
    float: left;
    padding-left: 1em;
    border-bottom: none;    
}
.ctrl_repacks_act_edit .popup .sections li.personas {
    clear: both;
    border-top: 1px solid #ccc;    
}
.ctrl_repacks_act_edit .popup .sections li.bookmarks {
}
.ctrl_repacks_act_edit .popup #content .sections li.bookmarks ul {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 200px;
}
.ctrl_repacks_act_edit .popup #content .sections li.bookmarks .bookmark {
    font-size: 85%;
    margin: 0 0 0 0;
    padding: 4px 0 0.25em 20px;
    background: transparent url(../img/pageStarred.png) no-repeat top left;
}
.ctrl_repacks_act_edit .popup .sections li.bookmarks h4 {
    font-weight: bold;
    padding: 0 0 0.25em 0;
}
.ctrl_repacks_act_edit .popup .sections li.bookmarks .menu {
    float: left;
}
.ctrl_repacks_act_edit .popup .sections li.bookmarks .toolbar {
    float: left;
    padding-left: 1em;
}
.ctrl_repacks_act_edit .popup .sections li.bookmarks .normal {
    background-image: url(../img/pageStarred.png);
}
.ctrl_repacks_act_edit .popup .sections li.bookmarks .live {
    background-image: url(../img/livemark-item.png);
}
.ctrl_repacks_act_edit .popup .sections li.bookmarks .bookmark .title {
    display: block;
    font-weight: bold;
    padding: 0 0 0.5em 0;
}
.ctrl_repacks_act_edit .popup .sections li.bookmarks .bookmark .location {
    display: block;
    padding: 0 0 0.5em 0;
}
.ctrl_repacks_act_edit .popup .sections li.bookmarks .bookmark .feed {
    display: block;
    padding: 0 0 0.5em 0;
}
.ctrl_repacks_act_edit .popup .sections li.bookmarks .bookmark .description {
    display: block;
    padding: 0 0 0.5em 0;
}
