/**
 * Styles for repack editor page.
 */

.tab-set .tab-tabs {
	padding: .75em 1em;
	list-style: none;
	border-top: 1px solid transparent;
	border-bottom: 0px;
    white-space: nowrap;
	}
	.tab-set .tab-tabs li {
		display: inline;
		}
	.tab-set .tab-tabs a {
		color: #808080;
		background: #EDF4F9;
		display: inline;
		padding: .75em 1em;
		border: 1px solid #c0c0c0;
		border-bottom: 1px solid #c0c0c0;
		margin-left: .25em;
		-moz-border-radius: .25em .25em 0 0;
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
		}
	.tab-set .tab-tabs li:first-child a {
		margin-left: 0;
		}
	.tab-set .tab-tabs a:hover {
		color: #333 !important;
		}
	.tab-set .tab-tabs li.selected a {
		/* font-weight: bold; */
		background: #fff;
		color: #333;
		border: 1px solid #c0c0c0;
		border-bottom: 1px solid #fff;
		position: relative;
		z-index: 2;
		-moz-box-shadow: none;
		}
	.tab-set .tab-tabs li.checked a {
		color: #006000;
		}
		.tab-set .tab-tabs li.checked a:before {
			content: '\02714  ';
			}
.tab-set .tab-content {
	background: #fff;
	border: 1px solid #c0c0c0;
	position: relative;
	z-index: 1;
	-moz-border-radius: .5em;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
	}
.tab-set .tab-header, .tab-set .intro {
	padding: 1em 1.25em 1em 1.25em;
	border-bottom: 1px solid #c0c0c0;
	}
    .tab-set .tab-header, .tab-set .intro p {
        font-size: 100%;
    }

.tab-set .tab-body, .tab-set .pane {
	padding: 1.5em 1.25em;
    position: relative;
	/* height: 10em; */
	}
.tab-set .tab-footer {
	background: #edf4f9;
	border-top: 1px solid #c0c0c0;
	padding: .5em 1em;
	overflow: auto;
	-moz-border-radius: 0 0 .5em .5em;
	}
	.tab-set .tab-footer .float-left {
		float: left;
		}
	.tab-set .tab-footer .float-right {
		float: right;
		}
		
		
.editor {
	overflow: visible;
	}
	.editor h2 {
		margin: 0 0 0.5em 1em;
		font-size: 24px;
		font-weight: bold;
		}
	.editor .editor-content {
		float: left;
		width: 690px;
        padding-bottom: 2em;
		}
	.editor .editor-changes {
		float: right;
		width: 210px;
		margin-top: 2.5em;
		}
	.editor .editor-commit {
		float: right;
		clear: right;
		width: 210px;
		margin-top: 1em;
		}

.editor-changes {
	border: 1px solid #c0c0c0;
	background: #edf4f9;
	padding: 1em;
	-moz-border-radius: .5em;
	-moz-box-sizing: border-box;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
	}
	#content .editor-changes h3 {
        font-size: 100%;
		font-weight: bold;
		margin-bottom: 1em;
		}
	.editor-changes ul {
		margin-left: 1em;
		}
	.editor-changes li {
		margin: .5em 0;
		color: #006000;
		}
		.editor-changes li:before {
			content: '\02714';
			margin-right: .5em;
			}
.editor-changes ul li.none:before {
    content: '';
}
.editor-changes ul li.none {
    color: #333;
}
.editor-changes .errors {
    margin-bottom: 1em;
}
.editor-changes .errors li {
    color: #900;
    margin-left: 1.25em;
    text-indent: -1.25em;
}
.editor-changes .errors li:before {
    content: '\02717';
    font-size: 120%;
    margin-right: .5em;
}
            
.ctrl_repacks_act_edit #wizard .pane {
}
.ctrl_repacks_act_edit #wizard .pane fieldset {
    padding: 0 0 0 0;
    margin: 0 0 1em 0;
}
.ctrl_repacks_act_edit #wizard .pane fieldset.addon-dependent {
    padding: 0 0 0 0;
    margin: -0.5em 0.5em 1.5em 2.5em;
}
.ctrl_repacks_act_edit #wizard .pane fieldset legend {
    font-weight: bold;
    font-size: 100%;
    margin: 0em 0em 0em 0em;
}
.ctrl_repacks_act_edit #wizard .pane fieldset div textarea {
    font-family: georgia;
    font-size: 1.2em;
    height: 6em;
    padding: 0.5em;
    width: 625px;
    border: 1px solid #ccc;
}
.ctrl_repacks_act_edit #wizard .pane fieldset div input {
    font-family: georgia;
    font-size: 1.2em;
    width: 90%;
    border: 1px solid #ccc;
    padding: 0.5em;
}
.ctrl_repacks_act_edit #wizard .pane fieldset div input:focus, .ctrl_repacks_act_edit #wizard .pane fieldset div textarea:focus {
    background: #fff; -moz-box-shadow: 0 0 3px #004463;
}
.ctrl_repacks_act_edit #wizard .pane fieldset p {
    padding: 0 0 0 0;
    margin: 1em 0 0 0;
}
.ctrl_repacks_act_edit #wizard .pane fieldset ul {
    list-style: none;
    padding: 0 0 0 0;
    margin: 1em 0 0 0;
}
.ctrl_repacks_act_edit #wizard .pane fieldset ul li {
    margin: 0 0 0.5em 0;
}
.ctrl_repacks_act_edit #wizard .pane fieldset ul.repack-locale {
    width: 75ex;
}
.ctrl_repacks_act_edit #wizard .pane fieldset ul.repack-locale li {
    float: left;
    width: 36ex;
}
.ctrl_repacks_act_edit #wizard .pane fieldset ul.choices {
}
.ctrl_repacks_act_edit #wizard .pane fieldset ul.choices li {
    float: left;
    margin-right: 1em;
}
.ctrl_repacks_act_edit #wizard .pane fieldset ul.choices li input {
    width: auto;
}
.ctrl_repacks_act_edit .section_nav a:hover {
    text-decoration: none;
}
.ctrl_repacks_act_edit .save_buttons {
    display: none;
}
.ctrl_repacks_act_edit #save-and-review,
.ctrl_repacks_act_edit #save-and-close {
    width: 21ex;
    margin-bottom: 0.75em;
}

.ctrl_repacks_act_edit #wizard .pane fieldset ul.repack-addons {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 2em;
}

#content ul.repack-addons li.addon {
    margin: 0 0 0 0;
    padding: 1em 0 0 0;
}
#content ul.repack-addons li.addon input {
    padding: 0.5em;
}
#content ul.repack-addons li.addon .title {
    font-size: 120%;
    font-weight: bold;
    padding: 0 0 0 1em;
}
#content ul.repack-addons li.addon .title img {
    padding: 0 0.5em 0 0;
}
#content ul.repack-addons li.addon p {
    margin: 0.5em 0 1em 1em;
}

.ctrl_repacks_act_edit .popup #content p.warning {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    margin: 0 0 8px 0;
    padding: 8px 8px 8px 100px;
    background: url("../img/actions-warning.gif") no-repeat scroll 28px 10px #F9F2C3;
    border: 1px solid #FCE440;
}

.ctrl_repacks_act_edit .popup #content .sections li.bookmarks .folder ul {
    margin: 0 0 0 0.25em;
}
.ctrl_repacks_act_edit .popup #content .sections li.bookmarks .folder {
    list-style: none;
    margin: 0 0 0 0;
    padding: 4px 0 0.25em 28px;
    background: url("../img/bookmark-icons/folder.png") no-repeat scroll 4px 1px transparent;
}
.ctrl_repacks_act_edit .popup #content .sections li.bookmarks .folder .empty {
    list-style: none;
    color: #666;
    font-style: italic;
}
.ctrl_repacks_act_edit .popup #content .sections li.bookmarks .bookmark {
    list-style: none;
    margin: 0 0 0 0;
    padding: 4px 0 0.25em 22px;
    background: transparent url(../img/bookmark-icons/item.png) no-repeat top left;
}
.ctrl_repacks_act_edit .popup #content .sections li.bookmarks h4 {
    font-size: 100%;
    padding: 0 0 0.25em 0;
}
.ctrl_repacks_act_edit .popup #content .sections li.bookmarks .bookmark a.location,
.ctrl_repacks_act_edit .popup #content .sections li.bookmarks .bookmark a.feed,
.ctrl_repacks_act_edit .popup #content .sections li.bookmarks .bookmark .description {
    font-size: 90%;
    color: #666;
    display: block;
    font-style: italic;
}
.ctrl_repacks_act_edit .popup #content .sections li.bookmarks .menu {
}
.ctrl_repacks_act_edit .popup #content .sections li.bookmarks .toolbar {
}
.ctrl_repacks_act_edit .popup #content .sections li.bookmarks .normal {
    background-image: url(../img/bookmark-icons/item.png);
}
.ctrl_repacks_act_edit .popup #content .sections li.bookmarks .livemark {
    background-image: url(../img/livemark-item.png);
}
.section-bookmarks .bookmarks-editor {
    border: 1px solid #666;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
}
.section-bookmarks .bookmarks-editor .locale-selector {
}
.section-bookmarks .bookmarks-editor .locale-selector ul.locales {
    list-style: none; margin: 0; padding: 0 0 0 10px;
    border-bottom: 1px solid #333;
    background-color: #fff;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
}
.section-bookmarks .bookmarks-editor .locale-selector ul.locales li {
    float: left;
}
.section-bookmarks .bookmarks-editor .locale-selector ul.locales li:first {
}
.section-bookmarks .bookmarks-editor .locale-selector ul.locales li a {
    display: block;
    padding: 5px 0 5px 0;
    margin: 2px 2px 0 2px;
    width: 8ex;
    font-size: 1em;
    text-align: center;
    background: #DFE4EC;
    color: #333333;

    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;

}
.section-bookmarks .bookmarks-editor .locale-selector ul.locales li a:hover {
    text-decoration: none;
    background-color: #666;
    color: #fff;
}
.section-bookmarks .bookmarks-editor .locale-selector ul.locales li.selected a {
    background-color: #7B86A8;
    color: #FFFFFF;
    font-weight: bold;
}
.section-bookmarks .notes li {
    line-height: 1.75em;
}
#content .section-bookmarks .bookmarks-editor ul.folders {
    float: left;
    width: 28ex;
    padding: 0.5em 0.5em 0.5em 1em;
    text-indent: 0;
    margin: 0;
    list-style-type: none;
    background-color: #dfe4ec;
    border-right: 1px solid #333;
    min-height: 225px;
}
.section-bookmarks .bookmarks-editor ul.folders .ui-sortable-placeholder.bookmark {
    display: none;
}
.section-bookmarks .bookmarks-editor ul.folders .ui-sortable-placeholder.type-folder {
    display: block;
}
.section-bookmarks .bookmarks-editor ul.folders li.folder {
    background: transparent url(../img/bookmark-icons/folder.png) no-repeat 4px 1px;
    line-height: 18px;
    margin: 0.125em 0 0.125em 0;
    padding: 0 0 0 24px;
}
.section-bookmarks .bookmarks-editor ul.folders li.folder-empty {
    background: transparent;
    padding: 0;
    margin: 0;
}
.section-bookmarks .bookmarks-editor ul.folders li.folder-toolbar {
    background-image: url(../img/bookmark-icons/bookmarksToolbar.png);
}
.section-bookmarks .bookmarks-editor ul.folders li.folder-menu {
    background-image: url(../img/bookmark-icons/bookmarksMenu.png);
}
.section-bookmarks .bookmarks-editor ul.folders li.root {
}
.section-bookmarks .bookmarks-editor ul.folders li.folder .title {
    display: block;
    padding: 2px 3ex 2px 2px;
}
.section-bookmarks .bookmarks-editor ul.folders li.folder .count-wrapper {
    float: right;
    padding: 1px 3px 0 0;
    line-height: 18px;
    color: #666;
}
.section-bookmarks .bookmarks-editor ul.folders li.selected .title {
    background-color: #7b86a8;
    font-weight: bold;
    color: #fff;
}
.section-bookmarks .bookmarks-editor ul.folders li.selected .count-wrapper {
    color: #fff;
}
.section-bookmarks .bookmarks-editor ul.folders li.selected li.folder .title {
    background-color: transparent;
    color: #000;
    font-weight: normal;
}
.section-bookmarks .bookmarks-editor ul.folders li.selected li.folder .count-wrapper {
    color: #666;
}
.section-bookmarks .bookmarks-editor ul.folders li.even {
    background-color: #eee;
}
.section-bookmarks .bookmarks-editor ul.folders li.hover .title {
    text-decoration: underline;
}
.section-bookmarks .bookmarks-editor ul.folders li.hover li.folder .title {
    border: none;
    text-decoration: none;
}
#content .section-bookmarks .bookmarks-editor ul.folders .root .subfolders {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0.5em 0;
}
.section-bookmarks .bookmarks-editor ul.folders li.hover .subfolders .title {
}
#content .section-bookmarks .bookmarks-editor ul.folders li.has_errors .title {
    color: #f33;
    font-weight: bold;
}
#content .section-bookmarks .bookmarks-editor ul.folders li.has_errors .subfolders .title {
    color: #000;
    font-weight: normal;
}
#content .section-bookmarks .bookmarks-editor ul.folders .subfolders li.has_errors .title {
    color: #f33;
    font-weight: bold;
}
#content .section-bookmarks .bookmarks-editor ul.bookmarks {
    margin-left: 31ex;
    list-style-type: none;
    padding: 0.75em 0 0 0em;
}
#content .section-bookmarks .bookmarks-editor ul.bookmarks li.bookmark {
    margin: 0;
    padding: 4px 0 4px 36px;
    background: transparent url(../img/bookmark-icons/item.png) no-repeat 14px 2px;
}
#content .section-bookmarks .bookmarks-editor ul.bookmarks li.type-bookmark {
    background-image: url(../img/bookmark-icons/item.png);
}
#content .section-bookmarks .bookmarks-editor ul.bookmarks li.type-livemark {
    background-image: url(../img/bookmark-icons/livemarkItem.png);
}
#content .section-bookmarks .bookmarks-editor ul.bookmarks li.type-folder {
    background-image: url(../img/bookmark-icons/folder.png);
}
#content .section-bookmarks .bookmarks-editor ul.bookmarks li.selected {
    background-color: #785cb2;
    color: #fff;
    font-weight: bold;
}
#content .section-bookmarks .bookmarks-editor ul.bookmarks li.has_errors .title {
    color: #f33;
    font-weight: bold;
}
.section-bookmarks .bookmarks-editor table.bookmarks {
    width: 100%;
    border: 1px solid #333;
}
#content .section-bookmarks .bookmarks-editor ul.controls {
    border-top: 1px solid #333;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
}
.section-bookmarks .bookmarks-editor ul.controls li {
    list-style-type: none;
    float: left;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.section-bookmarks .bookmarks-editor ul.controls li.new-folder {
    width: 31ex;
}
.section-bookmarks .bookmarks-editor ul.controls li.new-folder a:hover {
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
}
.section-bookmarks .bookmarks-editor ul.controls li a {
    display: block;
    padding: 0.5em 1em 0.5em 1em;
}
.section-bookmarks .bookmarks-editor ul.controls li a:hover {
    text-decoration: none;
    background-color: #666;
    color: #fff;
}
.section-bookmarks .bookmarks-editor ul.controls li.disabled a,
.section-bookmarks .bookmarks-editor ul.controls li.disabled a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #999;
    cursor: default;
}
.section-bookmarks #bookmarks_json {
    display: none;
    /*
    display: block;
    width: 90%; height: 40ex;
    */
}
.ctrl_repacks_act_edit #bookmark_editor {
    opacity: 0.9;
    z-index: 999;
    border: 1px solid #333;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 475px;
    font-size: 0.85em;
    display: none;
    position: absolute;
    background: #525252;
    color: #fff;
}
.ctrl_repacks_act_edit #bookmark_editor ul.editor_fields {
    list-style-type: none;
    margin: 0.75em;
    padding: 0;
    text-indent: 0;
}
.ctrl_repacks_act_edit #bookmark_editor ul.editor_fields li {
    padding: 0.25em 0 0.25em 0;
}
.ctrl_repacks_act_edit #bookmark_editor ul.editor_fields li label {
    float: left;
    text-align: right;
    width: 12ex;
    padding: 5px 7px 0 0;
}
.ctrl_repacks_act_edit #bookmark_editor ul.editor_fields input {
    display: none;
}
.ctrl_repacks_act_edit #bookmark_editor ul.editor_fields input.locale-en-US {
    display: inline;
}
.ctrl_repacks_act_edit #bookmark_editor ul.editor_fields li.required label {
}
.ctrl_repacks_act_edit #bookmark_editor ul.editor_fields li.error label {
    color: #f33;
}
.ctrl_repacks_act_edit #bookmark_editor ul.editor_fields li.required label:before {
    content: "* ";
    color: #f33;
}
.ctrl_repacks_act_edit #bookmark_editor ul.editor_fields li input.text {
    width: 65ex;
}
.ctrl_repacks_act_edit #bookmark_editor .bookmark {
}
.ctrl_repacks_act_edit #bookmark_editor ul.editor_fields .field_type input {
    display: inline;
}
.ctrl_repacks_act_edit #bookmark_editor ul.editor_fields .field_type label {
    float: none;
    margin: 0 0.25em 0 0.25em;
    font-size: 1.25em;
    font-weight: bold;
}
.ctrl_repacks_act_edit #bookmark_editor button.type_bookmark,
.ctrl_repacks_act_edit #bookmark_editor button.type_livemark {
    font-weight: bold;
    color: #525252;
    padding: 0.25em 0.5em;
    cursor: pointer;
    background: #666;
	background: -moz-linear-gradient(-90deg, #aaa, #666);
    color: #ddd;
    font-size: 1em;
}
.ctrl_repacks_act_edit #bookmark_editor .bookmark button.type_bookmark,
.ctrl_repacks_act_edit #bookmark_editor .livemark button.type_livemark {
    font-weight: bold;
    background: #ccc;
	background: -moz-linear-gradient(-90deg, #fff, #ccc);
    color: #333;
}
.ctrl_repacks_act_edit #bookmark_editor .bookmark .field_feedlink,
.ctrl_repacks_act_edit #bookmark_editor .bookmark .field_sitelink {
    display: none;
}
.ctrl_repacks_act_edit #bookmark_editor .livemark {
}
.ctrl_repacks_act_edit #bookmark_editor .bookmark {
}
.ctrl_repacks_act_edit #bookmark_editor .livemark .field_description,
.ctrl_repacks_act_edit #bookmark_editor .livemark .field_link {
    display: none;
}
.ctrl_repacks_act_edit #bookmark_editor ul.editor_fields li.controls {
    float: right;
    padding: 0em 1.5em 1em 0.5em;
}
.ctrl_repacks_act_edit #bookmark_editor ul.editor_fields li.controls button {
    font-size: 1em;
}
.ctrl_repacks_act_edit #bookmark_editor ul.editor_fields .field_locale {
    margin-top: 5px;
    padding-top: 5px;
}
.ctrl_repacks_act_edit #bookmark_editor ul.editor_fields .field_locale .locale_buttons {
    border-bottom: 1px solid #ccc;
    margin: 0 -0.75em 0.75em -0.75em;
    padding: 0 0.75em 0 0.75em;
}
.ctrl_repacks_act_edit #bookmark_editor .field_locale button.locale {
    border: 1px solid #ccc;
    cursor: pointer;

    -webkit-border-top-left-radius: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    border-top-right-radius: 7px;

    padding: 0; 
    margin: 0 0px -1px 0px;
    width: 7.25ex;
    background: #ccc;
    color: #333;
}
.ctrl_repacks_act_edit #bookmark_editor .field_locale button.selected {
    background: transparent;    
    color: #fff;
    border-bottom: 1px solid #525252;
}
.ctrl_repacks_act_edit .instructions {
    padding: 1em;
}
.ctrl_repacks_act_edit .instructions h3 {
    font-size: 125%;
    font-weight: bold;
    margin: 0.5em 0 0.5em 0;
}
.ctrl_repacks_act_edit .instructions ul.notes {
    padding-left: 2em;
}
.ctrl_repacks_act_edit .instructions ul.notes li {
    list-style: disc;
}


